#skills{
    overflow:hidden;/*if data comes out of div hide it */
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 500;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skilldesc {
  font-weight: 300;
  font-size: 1.3rem;
  max-width: 50rem;
  padding: 0 2rem;
  word-spacing: 0.2rem;
}

.skillbars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillbar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.skillbarimg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}
h2{
    margin-bottom: 0.5rem;
}

.skillbartext {
    font-size: 1.07rem;
    font-weight: 250;
    word-spacing: 0.1rem;
}

@media screen and (max-width:720px){
    .skillbartext>p{
        font-size: 2vw;

    }
}
@media screen and (max-width:480px){
    .skillbartext>p{
        font-size: 3vw;
    }
    .skillbarimg {
      height: 2.25rem;
      width: 2.25rem;
    }
    .skillbartext>h2 {
      font-size: 5vw;
    }
}